@use '../abstract/variaveis';
@use '../abstract/mixins';

.cabecalho{
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid variaveis.$azul-escuro;    
    z-index: 99999999;
    background-color: variaveis.$branco;
    position: relative;
    h1{
        font-size: 2rem;
        color: variaveis.$azul-escuro;

        span{
            font-size: 3rem;
            color: variaveis.$vermelho;
        }
    }
    div{
        @include mixins.flex-jc-alg(space-between, center);
        flex-direction: column;
        button{
            @include mixins.flex-jc-alg(space-between, center);
            padding: .5rem 1rem;
            background-color: transparent;
            border: 1px solid variaveis.$azul-escuro;
            border-radius: 20px;
            color: variaveis.$azul-escuro;
            img{
                width: 18px;
            }
        }
        p{
            font-weight: 500;
            font-size: .6rem;
            a{
                font-size: .6rem;
                color: variaveis.$azul-escuro;
            }
        }
    }
    
}
