@use '../abstract/variaveis';
@use '../abstract/mixins';

.colunas {
    @include mixins.flex-jc-alg(center, start);
    padding: 1rem;
    flex-wrap: wrap;
    .tarefa_pendente{
        flex-grow: 1;
        @include mixins.coluna(variaveis.$azul);
        h5{
            @include mixins.titulo(variaveis.$azul-escuro);
            margin-bottom: 1rem;
        }
        ul{
            @include mixins.flex-jc-alg( start, start);
            flex-direction: column;
            gap: .5rem;
            li{
                text-align: start;
                background-color: variaveis.$branco;
                padding: 1rem;
                width: 100%;
                border-radius: 10px;
                cursor: grab;
                @include mixins.flex-jc-alg(start, start);
                flex-direction: column;
                p{
                    font-weight: 600;
                    color: variaveis.$azul-escuro;
                }
                div{
                    width: 100%;
                    @include mixins.flex-jc-alg(space-between, center);
                    button{
                        padding: .3rem 1rem;
                        font-size: .7rem;
                        border-radius: 10px;
                        border: 1px solid variaveis.$azul-escuro;
                        background-color: variaveis.$branco;
                        color: variaveis.$azul-escuro;
                        cursor: pointer;
                        transition: .5s;
                        &:hover{
                            background-color: variaveis.$azul-escuro;
                            color: variaveis.$branco;
                        }
                    }
                    svg{
                        width: 25px;
                        cursor: pointer;
                        fill: variaveis.$azul-escuro;
                        transition: .3s;
                        &:hover{
                            fill: variaveis.$vermelho-escuro;
                        }
                    }
                }
            }
        }
        
    }
    .tarefa_andamento{
        flex-grow: 1;
        @include mixins.coluna(variaveis.$lilas);
        @include mixins.titulo(variaveis.$lilas-escuro);
    }
    .tarefa_finalizada{
        flex-grow: 1;
        @include mixins.coluna(variaveis.$amarelo);
        @include mixins.titulo(variaveis.$amarelo-escuro);
    }
}