@use '../abstract/variaveis';
@use '../abstract/mixins';

.colunas {
    @include mixins.flex-jc-alg(center, start);
    padding: 1rem;
    flex-wrap: wrap;
    .tarefa_pendente{
        flex-grow: 1;
        @include mixins.coluna(variaveis.$azul);
        h5{
            @include mixins.titulo(variaveis.$azul-escuro);
        }
        ul{
            @include mixins.flex-jc-alg( start, start);
            @include mixins.lista();
            li{
                @include mixins.item-bg(variaveis.$branco);
                @include mixins.flex-jc-alg(start, start);
                p{
                    @include mixins.paragrafo-color(variaveis.$azul-escuro);
                }
                div{
                    width: 100%;
                    @include mixins.flex-jc-alg(space-between, center);
                    button{
                        @include mixins.botao-bd-bg-cl(variaveis.$azul-escuro, variaveis.$branco, variaveis.$azul-escuro);
                        &:hover{
                            background-color: variaveis.$azul-escuro;
                            color: variaveis.$branco;
                        }
                    }
                    svg{
                        width: 25px;
                        cursor: pointer;
                        fill: variaveis.$azul-escuro;
                        transition: .3s;
                        &:hover{
                            fill: variaveis.$vermelho-escuro;
                        }
                    }
                }
            }
        }
        
    }
    .tarefa_andamento{
        flex-grow: 1;
        @include mixins.coluna(variaveis.$lilas);
        h5{
            @include mixins.titulo(variaveis.$lilas-escuro);
        }
        ul{
            @include mixins.flex-jc-alg( start, start);
            @include mixins.lista();

            li{
                @include mixins.item-bg(variaveis.$branco);
                @include mixins.flex-jc-alg(start, start);

                p{
                    @include mixins.paragrafo-color(variaveis.$lilas-escuro);
                }
                div{
                    width: 100%;
                    @include mixins.flex-jc-alg(space-between, center);

                    button{
                        @include mixins.botao-bd-bg-cl(variaveis.$lilas-escuro, variaveis.$branco, variaveis.$lilas-escuro);
                        &:hover{
                            background-color: variaveis.$lilas-escuro;
                            color: variaveis.$branco;
                        }
                    }
                    svg{
                        width: 25px;
                        cursor: pointer;
                        fill: variaveis.$lilas-escuro;
                        transition: .3s;
                        &:hover{
                            fill: variaveis.$vermelho-escuro;
                        }
                    }
                }
            }
        }
    }
    .tarefa_finalizada{
        flex-grow: 1;
        @include mixins.coluna(variaveis.$amarelo);
        h5{
            @include mixins.titulo(variaveis.$amarelo-escuro);
        }
        ul{
            @include mixins.flex-jc-alg( start, start);
            @include mixins.lista();

            li{
                @include mixins.item-bg(variaveis.$branco);
                @include mixins.flex-jc-alg(start, start);

                p{
                    @include mixins.paragrafo-color(variaveis.$amarelo-escuro);
                }
                div{
                    width: 100%;
                    @include mixins.flex-jc-alg(space-between, center);

                    button{
                        @include mixins.botao-bd-bg-cl(variaveis.$amarelo-escuro, variaveis.$branco, variaveis.$amarelo-escuro);
                        &:hover{
                            background-color: variaveis.$amarelo-escuro;
                            color: variaveis.$branco;
                        }
                    }
                    svg{
                        width: 25px;
                        cursor: pointer;
                        fill: variaveis.$amarelo-escuro;
                        transition: .3s;
                        &:hover{
                            fill: variaveis.$vermelho-escuro;
                        }
                    }
                }
            }
        }
    }
}