$font-padrao: 'poppins', sans-serif;
$lilas: #ccc5f5;
$lilas-escuro: #695bad;
$azul: #c4e6f5;
$azul-escuro: #457fb1;
$amarelo: #ece1c9;
$amarelo-escuro: #c39d6b;
$vermelho: #f1bfbd;
$vermelho-escuro: #ad5252;
$branco: #FFF;