* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

.cabecalho {
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid #24659e;
  z-index: 99999999;
  background-color: #FFF;
  position: relative;
}
.cabecalho h1 {
  font-size: 2rem;
  color: #24659e;
}
.cabecalho h1 span {
  font-size: 3rem;
  color: #695bad;
}
.cabecalho div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.cabecalho div button {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #24659e;
  border-radius: 20px;
  color: #24659e;
}
.cabecalho div button img {
  width: 18px;
}
.cabecalho div p {
  font-weight: 500;
  font-size: 0.6rem;
}
.cabecalho div p a {
  font-size: 0.6rem;
  color: #24659e;
}

.formulario {
  transition: 0.9s;
  top: -100%;
  height: 0;
  transform: translateY(-500px);
  opacity: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #ccc5f5;
  border-bottom: 2px solid #695bad;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.formulario h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #695bad;
}
.formulario textarea {
  max-width: 40rem;
  height: 20rem;
  border: 1px solid #695bad;
  padding: 1rem;
  border-radius: 10px;
}
.formulario button {
  background-color: #695bad;
  color: #FFF;
  padding: 0.3rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.ativo {
  padding: 2rem 1rem;
  height: 25rem;
  opacity: 1;
  top: 8rem;
  transform: translateY(0px);
}

.colunas {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  flex-wrap: wrap;
}
.colunas .tarefa_pendente {
  flex-grow: 1;
  background-color: #c4e6f5;
  min-height: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  max-width: 400px;
}
.colunas .tarefa_pendente h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #24659e;
  font-weight: 800;
  margin-bottom: 1rem;
}
.colunas .tarefa_pendente ul {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 20rem;
}
.colunas .tarefa_pendente ul li {
  text-align: start;
  background-color: #FFF;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  cursor: grab;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}
.colunas .tarefa_pendente ul li p {
  font-weight: 600;
  color: #24659e;
}
.colunas .tarefa_pendente ul li div {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.colunas .tarefa_pendente ul li div button {
  padding: 0.3rem 1rem;
  font-size: 0.7rem;
  border-radius: 10px;
  border: 1px solid #24659e;
  background-color: #FFF;
  color: #24659e;
  cursor: pointer;
  transition: 0.5s;
}
.colunas .tarefa_pendente ul li div button:hover {
  background-color: #24659e;
  color: #FFF;
}
.colunas .tarefa_pendente ul li div svg {
  width: 25px;
  cursor: pointer;
  fill: #24659e;
  transition: 0.3s;
}
.colunas .tarefa_pendente ul li div svg:hover {
  fill: #ad5252;
}
.colunas .tarefa_andamento {
  flex-grow: 1;
  background-color: #ccc5f5;
  min-height: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  max-width: 400px;
}
.colunas .tarefa_andamento h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #695bad;
  font-weight: 800;
  margin-bottom: 1rem;
}
.colunas .tarefa_andamento ul {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 20rem;
}
.colunas .tarefa_andamento ul li {
  text-align: start;
  background-color: #FFF;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  cursor: grab;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}
.colunas .tarefa_andamento ul li p {
  font-weight: 600;
  color: #695bad;
}
.colunas .tarefa_andamento ul li div {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.colunas .tarefa_andamento ul li div button {
  padding: 0.3rem 1rem;
  font-size: 0.7rem;
  border-radius: 10px;
  border: 1px solid #695bad;
  background-color: #FFF;
  color: #695bad;
  cursor: pointer;
  transition: 0.5s;
}
.colunas .tarefa_andamento ul li div button:hover {
  background-color: #695bad;
  color: #FFF;
}
.colunas .tarefa_andamento ul li div svg {
  width: 25px;
  cursor: pointer;
  fill: #695bad;
  transition: 0.3s;
}
.colunas .tarefa_andamento ul li div svg:hover {
  fill: #ad5252;
}
.colunas .tarefa_finalizada {
  flex-grow: 1;
  background-color: #f1bfbd;
  min-height: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  max-width: 400px;
}
.colunas .tarefa_finalizada h5 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ad5252;
  font-weight: 800;
  margin-bottom: 1rem;
}
.colunas .tarefa_finalizada ul {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 20rem;
}
.colunas .tarefa_finalizada ul li {
  text-align: start;
  background-color: #FFF;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  cursor: grab;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.colunas .tarefa_finalizada ul li p {
  font-weight: 600;
  color: #ad5252;
  text-decoration: line-through;
}
.colunas .tarefa_finalizada ul li div {
  width: 20px;
  height: 30px;
  right: 1.4rem;
}
.colunas .tarefa_finalizada ul li div button {
  display: none;
}
.colunas .tarefa_finalizada ul li div svg {
  width: 25px;
  cursor: pointer;
  fill: #ad5252;
  transition: 0.3s;
}
.colunas .tarefa_finalizada ul li div svg:hover {
  fill: #ad5252;
}/*# sourceMappingURL=style.css.map */